@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
	--dark-purple: rgb(157,109,181);
	--light-pink: rgb(255,222,255);
	--light-grey: rgb(250,250,250);
	--grey: rgb(150,150,150);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	text-align: center;
	font-family: 'Varela Round', sans-serif;
	font-weight: lighter;
	color: var(--grey);
}

//page styles
html {
	scroll-behavior: smooth;
}

img {
	width: 100%;
	height: auto;
}

h1 {
	font-size: 30px;
}

.scrolled {
	margin-top: 68px;
}

//small width
@media only screen and (max-width: 600px) {
	.scrolled {
		margin-top: 41px;
	}
}
