* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	text-align: center;
}

img {
	max-width: 100%;
}

h1 {
	font-size: 30px;
}

.scrolled {
	margin-top: 68px;
}

@media only screen and (max-width: 600px) {
	.scrolled {
		margin-top: 41px;
	}
}
