nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(157,109,181);
	width: 100%;
	opacity: .8;
}

.nameLink {
	color: white;
	text-decoration: none;
	font-family: Arial;
	font-size: 30px;
	margin-left: 25px;
	&:hover {
		color: rgb(255,222,255);
	}
}

ul {
	display: flex;
}

li {
	list-style-type: none;
	margin: 20px 30px;
	a {
		color: white;
		text-decoration: none;
		font-family: Arial;
		font-size: 24px;
		margin-right: 5px;
		padding: 5px 5px;
		&:hover {
			border-bottom: 5px solid rgb(255,222,255);
		}
	}
}

.github {
	margin-left: -30px;
	&:hover {
		border: 0px;
	}
}

.githubIcon {
	fill: white;
	width: 24px;
	&:hover {
		fill: rgb(255,222,255);
	}
}

.navScrolled {
	position: fixed;
	top: 0;
}

@media only screen and (max-width: 800px) {
	nav {
		justify-content: space-around;
	}
	
	.nameLink {
		display: none;
	}
}

@media only screen and (max-width: 600px) {
	li {
		margin: 10px 10px;
		a {
			font-size: 18px;
		}
	}

	.github {
		margin-left: 0;
	}
}
